<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ymsfd.practices">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".infrastructure.util.GlobalContext"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="YMSFD"
            android:value="${CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AnimatorActivity"
            android:label="Animator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CustomViewActivity"
            android:label="CustomView"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FragmentViewPagerActivity"
            android:label="Fragment"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TestActivity"
            android:label="Test"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ViewGroupActivity"
            android:label="ViewGroup"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.JSActivity"
            android:label="JavaScript"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SceneActivity"
            android:label="Scene"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SceneActivity2"
            android:label="Scene2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DesignActivity"
            android:label="Design"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FancyItemActivity"
            android:label="FancyItem"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SpannableActivity"
            android:label="Spannable"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ScrollLayoutActivity"
            android:label="ScrollLayout"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FlowLayoutActivity"
            android:label="FlowLayout"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DragLayoutActivity"
            android:label="DragLayout"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SlidingActivity"
            android:label="SlidingLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GlideActivity"
            android:label="Glide"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PorterDuffActivity"
            android:label="PorterDuff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RetrofitActivity"
            android:label="Retrofit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.recyclerview.RecyclerViewActivity"
            android:label="RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MapActivity"
            android:label="Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PopupWindowActivity"
            android:label="PopupWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UploadFileActivity"
            android:label="UploadFile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReboundScrollViewActivity"
            android:label="Rebound">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PullScrollViewActivity"
            android:label="PullScroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.CaptureActivity"
            android:label="Zxing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VibratorActivity"
            android:label="Vibrator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RunPermissionActivity"
            android:label="RunPermission">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LuckViewActivity"
            android:label="LuckView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BezierActivity"
            android:label="Bezier"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DialogActivity"
            android:label="Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RefreshActivity"
            android:label="Refresh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
	<activity>
	    android:name=".KotlinActivity"
            android:label="Kotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
	</activity>
        <activity
            android:name=".ui.activity.TouchActivity"
            android:label="Touch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spring.SpringActivity"
            android:label="Spring">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spring.PositionActivity"
            android:label="Position" />
        <activity
            android:name=".spring.RotationActivity"
            android:label="Rotation" />
        <activity
            android:name=".spring.ScaleActivity"
            android:label="Scale" />
    </application>

</manifest>
