<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ymsfd.practices"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".infrastructure.util.GlobalContext"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="YMSFD"
            android:value="${CHANNEL_VALUE}" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AnimatorActivity"
            android:label="Animator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CustomViewActivity"
            android:label="CustomView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FragmentViewPagerActivity"
            android:label="Fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TestActivity"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ViewGroupActivity"
            android:label="ViewGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.JSActivity"
            android:label="JavaScript">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SceneActivity"
            android:label="Scene">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CaptureActivity"
            android:label="QR CODE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DesignActivity"
            android:label="Design">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FancyItemActivity"
            android:label="FancyItem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SpannableActivity"
            android:label="Spannable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ScrollLayoutActivity"
            android:label="ScrollLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FlowLayoutActivity"
            android:label="FlowLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DragLayoutActivity"
            android:label="DragLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SlidingActivity"
            android:label="SlidingLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GlideActivity"
            android:label="Glide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TabHostActivity"
            android:label="TabHost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.PorterDuffActivity"
            android:label="PorterDuff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RetrofitActivity"
            android:label="Retrofit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RecyclerViewActivity"
            android:label="RecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MapActivity"
            android:label="Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.ymsfd.android.practices.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
